body {
    background-image: url("../imgs/fondo.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    /* background:rgb(108, 199, 108)!important; */
}

.login-box {
    margin-top: -50px !important;
    border: solid 1px #ffffff;
    height: auto;
    box-shadow: -3px 3px 15px 3px rgb(192, 192, 192);
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
}

.card {
    margin-bottom: 0px;
}

.login-card-body {
    color: white;
    background: #1f4e79 !important;
    overflow: hidden;
}

.input-group-text {
    color: white !important;
}

.login-logo {
    margin-bottom: 0px;
    background: #1f4e79 !important;
}

.login-logo a {
    color: white;
}

.login-logo img {
    width: 80%;
}
